/* Define the shaking animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  padding: 0.8rem 1.5rem;
  /* background-color: rgba(214, 184, 255, 1); */
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  animation: shake 0.5s;
}
